<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-label>Twitter</ion-label>
    </ion-tab-button>

    <!-- Etape 3 modification du nom et de l'icone dans la navbar inférieure -->
    <ion-tab-button tab="tab2">
      <ion-icon name="images"></ion-icon>
      <ion-label>Photos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="alarm"></ion-icon>
      <ion-label>Alarm</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
