<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <!-- Etape 1 modification de tab 2 -->
      Gallerie de Photos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Page 2</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- Etape 2 Ajout du bouton camera dans le content de tab 2 -->
  <ion-content>
    <!-- ajout d'une grid pour afficher les photos prises -->
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
          <ion-img [src]="photo.webViewPath"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="addPhotoToGallery()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>

  <app-explore-container name="Bonjour"></app-explore-container>
</ion-content>
